*{
    background-color: black;
}
.text{
    color: rgb(199, 192, 192);
    margin-top: 5%;
    margin-left: 10%;
    font-size: 150%;
}
::palceholder{
    color: rgb(233, 7, 7);
    opacity: 10;
}
.textbox{
    margin-top: 3%;
    margin-left: 15%;
   
}
.post{
    margin-left: 45%;
    margin-top: 2%;
}
button[type=submit]{
    width: 200px;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: aqua;
    border-color: aqua;
    
}
