*{
    margin : 0%;
    padding: 0;
   box-sizing: border-box;
   font-family: poppins;
   background: #3e3b3b;
  }
  
  
  .logo{
    width: 100px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
  }
  
  
  .logo1{
    width: 80px;
    cursor: pointer;
    color: white;
    margin-left: 50px;
  }
  p{
    font-size: 20px;
    margin-left: 35px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  body{
     margin: 0;
  }
  
  .sidebar{
     position: fixed;
     width: 250px;
     top: 90px;
     left: 0;
     bottom: 0;
     background: rgb(50, 48, 48);
     padding-top: 0.05px;
  }
  
  .sidebar h1{
     display: block;
     padding: 10px 20px;
     color: #fff;
     text-decoration: none;
     font-family: "Rubik";
     letter-spacing: 2px;
     font-weight: 400;
     margin: 0;
     font-size: 25px;
     text-transform: uppercase;
  }
  
  .sidebar a{
     display: block;
     padding: 10px 20px;
     color: #bbb;
     text-decoration: none;
     font-family: "Rubik";
     letter-spacing: 2px;
  }
  
  .sidebar a:hover{
     color: #fff;
     margin-left: 20px;
     transition: 0.4s;
  }
  p2{
  font-size: 20px;
  color: rgb(192, 186, 186);
  text-align: center;
  cursor: pointer;
  justify-content: center;
  justify-items: center;
  }
  p3{
    font-size: 20px;
  color: rgb(192, 186, 186);
  text-align: center;
  cursor: pointer;
  justify-content: center;
  justify-items: center;
  }
  h1{
   
    font-size: 30px;
    color: white;
    justify-content: center;
    text-align: center;
  }
  .all-que {
    width: 80%;
    float: right;
    margin-top: 50px;
    margin: 0;
    padding: 5px;
    background-color: rgb(9, 9, 9);
  }
  .all-que  .question {
    margin: 5px;
    padding: 20px;
    background-color: #fff;
  }
  
  
   p {
    margin: 4px;
    font-size: 90%;
    color: black;
    background-color: #fff;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    background-color: #fff;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }